name: Pull Request

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions:
  contents: write
  pull-requests: read

jobs:
  pull-request:
    name: Validate and document
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        if: github.event.action != 'synchronize'
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout PR branch
        if: github.event.action != 'edited'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Generate terraform docs
        if: github.event.action != 'edited'
        uses: terraform-docs/gh-actions@v1
        with:
          config-file: .config/.terraform-docs.yml
          git-push: true
